{% extends 'base.html' %}
{% block content %}
  <style>
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }
    .form-group {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Edit Post</h2>
    <form method="post"  action={% url 'edit_post' post.id %}>
      {% csrf_token %}
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter post title" value={{post.title}}>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" rows="4" placeholder="Enter post content">{{post.content}}</textarea>
      </div>
      <br>
      <button name="editbtn" type="submit" class="btn btn-success">Edit</button>
      <button name="cancelbtn" type="submit" class="btn btn-secondary">Cancel</button>
    </form>
    {% endblock content %}

