{% extends 'base.html' %}
{% load users_extras %}
{% load static %}



{% block content %}
{% comment %} <link rel="stylesheet" href='{% static 'css/profile.css' %}'> {% endcomment %}
  {% comment %} <link rel="stylesheet" href='{% static 'css/post.css' %}'> {% endcomment %}
 
  <link rel="stylesheet" href='{% static 'css/user.css' %}'>
  <link rel="stylesheet" href='{% static 'css/users.css' %}'>
  
  <div class="container">
    <h2>Blocked List</h2>

    
        {% if blocked_list %}
        
        {% for user in blocked_list %}
        <div class="search-results-container-users">

          {% include 'user.html' with reqUser=request.user user=user type=2 %}

        </div>
        
            
        {% endfor %}
        
        {% endif %}

  

        <script src="{% static 'js/block-unblock.js' %}"></script>
    </div>
{% endblock content %}
