{% extends 'base.html' %}
{% load users_extras %}
{% load static %}



{% block content %}


    <link rel="stylesheet" href='{% static 'css/user.css' %}'>
    <link rel="stylesheet" href='{% static 'css/users.css' %}'>
    <div class="container">
      <h2>Requests</h2>

      {% if rq_users %}
      
      <div class="search-results-container-users">
      {% for user in rq_users %}

        {% include 'user.html' with reqUser=request.user user=user type=3 %}

        {% endfor %}
      </div>
      {% endif %}
      
          
      



      <script src="{% static 'js/follow-requests.js' %}"></script>
    </div>

    
{% endblock content %}
