{% extends 'base.html' %}
{% load users_extras %}
{% load static %}



{% block content %}
{% comment %} <link rel="stylesheet" href='{% static 'css/profile.css' %}'> {% endcomment %}
  {% comment %} <link rel="stylesheet" href='{% static 'css/post.css' %}'> {% endcomment %}
  
  <style>
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    
    .profile-container {
        border: 1px solid #dee2e6;
        border-radius: 5px;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .profile {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
    }
    .profile-photo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
    .verified-icon {
      color: green;
      margin-bottom: 10px;
    }
    .username {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .follow-button {
      width: 100%;
      margin-bottom: 10px;
    }
    .dropdown-menu {
      min-width: 100px;
    }
    .dropdown-item {
      font-size: 14px;
    }
    .more-button-container {
      text-align: center;
      margin-top: 20px;
    }
    .verified-badge {
        color: #28a745;
        margin-left: 5px;
      }
  </style>

  <div class="container">
    <h2>Requests</h2>

    <div class="profile-container">
        {% if rq_users %}
        
   
        {% for user in rq_users %}
        
            <div class="profile">
            
                <a  href="{% url 'profile' user.username %}">
                    <img src={{user.photo.url}} alt="Profile 1" class="profile-photo">
                </a>
                
                <span class="username">
                    {% if user.verified_badge %}
                        <i class="fas fa-check-circle verified-badge"></i>
                    {% endif %}
                    {{user.username}}
                </span>

                {% if request.user != user %}
                    <form method='POST' action={% url 'requests_response' user.username  %}>
                        {% csrf_token %}
                        <button name="confirm_btn"  class="btn btn-outline-success follow-button"> Confirm  </button>
                        <button name="ignore_btn" class="btn btn-outline-danger follow-button">Ignore </button>
                    </form>
                {% else %}
                    <br>
                {% endif %}
            </div>
        {% endfor %}
        {% endif %}
      {% comment %} <div class="profile">
        <img src="profile2.jpg" alt="Profile 2" class="profile-photo">
        <i class="fa fa-check verified-icon" aria-hidden="true"></i>
        <span class="username">Username 2</span>
        <button class="btn btn-primary follow-button">Follow</button> 
      </div> {% endcomment %}
      
  

    <br>
    {% comment %} <div class="more-button-container">
      <button class="btn btn-primary more-button">More</button>
    </div> {% endcomment %}
  </div>
{% endblock content %}
