.search-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;

  }
  
.search-results-container-users,
.users-container {
      border: 1px solid #dee2e6;
      border-radius: 5px; 

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .search-results-container-posts {
    /* border: 1px solid #dee2e6; */
    border-top: 0px;
    border-radius: 5px; 
}