 
  .profile-container {
    border: 1px solid #dee2e6;
    border-radius: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.profile {
  width: 200px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 20px;
}

.profile-info {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 20px; */
}


.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.verified-icon {
  color: green;
  margin-bottom: 10px;
}
.username {
  font-weight: bold;
  margin-bottom: 10px;
}
.follow-button {
  width: 100%;
  margin-bottom: 10px;
}
.dropdown-menu {
  min-width: 100px;
}
.dropdown-item {
  font-size: 14px;
}
.more-button-container {
  text-align: center;
  margin-top: 20px;
}
.verified-badge {
    color: #28a745;
    margin-left: 5px;
  }